node_modules/
dist/
build/
.cache/
/.vite/
/.env
.env.local
.env.*.local
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage/
*.log
*.local
thumbs.db
.DS_Store
/.idea/
/.vscode/
*.tgz
npm-debug.log*
tsconfig.tsbuildinfologs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
